<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>change-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">change-password</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="ion-margin-start" [formGroup]="passform" (ngSubmit)="onSubmit()">

    <ion-input
    label="Nouveau Mot de passe"
    type="password"
    labelPlacement="floating"
    formControlName="password">
    </ion-input>

    <ion-input
    label="Confirmer Mot de passe"
    type="password"
    labelPlacement="floating"
    formControlName="confirm"
    (ionChange)="onChange()">
    </ion-input>

    <ion-button type="submit"  [disabled]="!passform.valid">
      Change
    </ion-button>
  </form>

</ion-content>
