#mj{
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}

#theme{
    font-size: large;
    text-align: center;
    font-style: italic;
}

#desc{
    text-align: center;
    background-color: bisque;
    font-weight: lighter;
    font-style: italic;
}

