<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon  name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Liste des participant pour la : {{plan?.title_plan}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-item  *ngFor="let participe of participes" >
          <ion-label position="inline">{{participe.user.name_user}}</ion-label>
          <ion-buttons slot="end">
            <ion-button [disabled]="participe.non_part || user_name_log != participe.user.name_user" (click)="onClick(participe.id_part)">
              <ion-icon color="success" name="checkmark-outline"></ion-icon>
            </ion-button>
            
            <ion-button [disabled]="participe.oui_part || user_name_log != participe.user.name_user" (click)="onClick(participe.id_part)">
              <ion-icon color="danger" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>